.card {
	background-color: white;
	// border: 1px solid white;
	// width: fit-content;
	align-self: center;
	padding: 1em;
	// border-radius: 1em;
	color: black;
	ul {
		list-style: inside;

		  
	}
	min-height: 50svh;
}